body {
    background-color: #333333;
    display: flex;
    flex-direction: column;
}

.rainbow-letters {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hyperlink {
    font-size: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to bottom, #3ecc6d, #3ecca9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
}

#troll {
    font-size: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2196f3;
}

.container {
    width: 80%;
    margin-inline: auto;
    height: 100%;
    align-self: center;
    /* border: 2px solid #26c6da; */
}

#topElements {
    display: flex;
    background-color: lightgray;
}

#textElements {
    width: fit-content;
    margin-left: 20px;
}

#logo {
    width: 128px;
    margin-block: 20px;
    margin-left: 20px;
}

#mainElements {
    height: fit-content;
    background-color: white;
}

#playlists {
    height: fit-content;
    background-color: white;
}

#playlist-section {
    margin-bottom: 0px;
}

#playlist-subtext {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: small;
    color: #555555;
}

#main-hyperlinks {
    margin-left: 27px;
}

#youtube-hyperlink {
    background: linear-gradient(to bottom, #ff0000, #ff0095);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tiktok-hyperlink {
    background: linear-gradient(to right, #69c9d0, #ee1d52);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#discord-hyperlink {
    background: linear-gradient(to bottom, #3e64ce, #6c18b9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#playlist-hyperlinks {
    margin-left: 10px;
}

#hyperlink-bodies {
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hyperlink-playlist {
    margin: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#social-logo {
    height: 30px;
    margin-left: 15px;
}

#playlist-album-cover {
    height: 60px;
}

#footerElements {
    height: 100px;
    background-color: grey;
}